.form-container {
  display: grid;
  justify-items: center;
  grid-gap: 8px;
  min-width: 200px;
  min-height: 400px;
}

#signup-btn {
  display: inline-block;
  border: 0.16em solid #ffffff;
  color: black;
  text-align: center;
  transition: all 0.15s;
  border-radius: 10px;
  max-height: 25px;
  min-width: 80px;
}

#signup-btn:hover {
  color: black;
  border-color: #dddddd;
}
#signup-btn:active {
  color: #bbbbbb;
  border-color: #bbbbbb;
}
