#modal {
  position: fixed;
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(255, 241, 230, 0.5);
}

#modal-content {
  font-family: "Montserrat", sans-serif;
  position: absolute;
  background-color: rgba(240, 239, 235, 1);
  min-width: 40%;
  min-height: 40%;
  border-radius: 20px;
  border: 1px solid rgba(237, 220, 210, 1);
}

#title {
  padding: 10px;
}

input {
  border-radius: 10px;
}

.cancel-btn {
  background: transparent;
  border-color: transparent;
  padding: 10px;
}

#cancel-icon:hover {
  color: rgba(0, 0, 0, 0.7);
  border-color: #dddddd;
}
#cancel-icon:active {
  color: #bbbbbb;
  border-color: #bbbbbb;
}

.errors-list li {
  list-style: none;
  color: black;
  font-weight: bold;
}

input:hover {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.form-container {
  display: grid;
  justify-items: center;
  grid-gap: 8px;
  min-width: 200px;
  min-height: 400px;
}

.modal-btn {
  display: inline-block;
  border: 0.16em solid #ffffff;
  color: black;
  text-align: center;
  transition: all 0.15s;
  border-radius: 10px;
  max-height: 25px;
  min-width: 80px;
  background-color: rgba(221, 190, 169, 0.3);
  cursor: pointer;
}

.modal-btn:hover {
  color: black;
  border-color: rgba(165, 165, 141, 0.2);
  background-color: rgba(221, 190, 169, 0.5);
}
.modal-btn:active {
  color: #bbbbbb;
  border-color: #bbbbbb;
}

::placeholder {
  color: rgba(10, 10, 10, 0.7);
}
