.search-div {
  display: flex;
  justify-content: center;
  padding: 20px;
}

#banner-pic {
  width: 100%;
}

.div-line {
  height: 30px;
  border-bottom: 2px solid black;
}

.nearby-rentals {
  height: 100px;
}

.meet-our-hosts {
  height: 100px;
}
