.search-div {
  display: flex;
  justify-content: center;
  padding: 20px;
}

#b15325d2-ef49-41bb-b39b-b88ff27f55f0 {
  width: 100%;
}

.div-line {
  height: 30px;
  border-bottom: 2px solid black;
}

.discover {
}

.discovery_photos {
  max-width: 150px;
  max-height: 150px;
}

.meet-our-hosts {
  height: 100px;
}

.hosts,
.discoveries {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 2 px;
}

.host,
.discovery {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  box-sizing: border-box;
  padding: 30px;
  border: 1px solid black;
  max-width: 250px;
  max-height: 250px;
}

a {
  text-decoration: none;
  color: black;
}
