.telly-name {
  padding-top: 40px;
  font-size: 25px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}
.location {
  padding: 5px;
  font-size: 15px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.photo-slideshow {
  padding-top: 40px;
  width: auto;
}

.slider {
  width: auto;
  height: 300px;
  background-color: rgba(5, 5, 5, 0.1);
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  text-align: center;
  overflow: hidden;
  border-radius: 10px;
}
.photo-container {
  border: 1px solid transparent;
  border-radius: 10px;
  width: 1500px;
  background-color: transparent;
  height: 300px;
  clear: both;
  position: relative;
  -webkit-transition: left 2s;
  -moz-transition: left 2s;
  -o-transition: left 2s;
  transition: left 2s;
}
.photo {
  float: left;
  margin: 0px;
  padding: 0px;
  position: relative;
  border-radius: 10px;
}
#photo-1:target ~ .photo-container {
  left: 0px;
}
#photo-2:target ~ .photo-container {
  left: -400px;
}
#photo-3:target ~ .photo-container {
  left: -800px;
}
#photo-4:target ~ .photo-container {
  left: -1200px;
}
.buttons {
  position: relative;
  top: -20px;
  outline: black;
}
.buttons a:hover {
  background-color: rgba(237, 220, 210, 0.7);
}
.buttons a {
  display: inline-block;
  height: 15px;
  width: 15px;
  border: 50px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}

.button:active {
  background-color: rgba(203, 153, 126, 0.8);
}
