#nav-drop {
  border-radius: 100px;
  min-width: 100px;
}

#nav-logout {
  border-radius: 100px;
}

#home-btn {
  background: transparent;
  border-color: transparent;
}

.drop-menu {
  margin-left: 10px;
}
