.profile-image {
  border-radius: 50px;
}

.user-booking {
  padding: 5px;
  width: 100%;
}

.cancel-btn:hover {
  background-color: rgba(237, 220, 210, 0.7);
}
.cancel-btn {
  border: 5px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  border: 0.16em solid #ffffff;
}
.user-dates {
  width: 100%;
}

#show-btn {
  display: inline-block;
  border: 0.16em solid #ffffff;
  color: black;
  text-align: center;
  transition: all 0.15s;
  border-radius: 10px;
  max-height: 25px;
  min-width: 80px;
  background-color: rgba(221, 190, 169, 0.3);
  cursor: pointer;
  border: 0.16em solid #ffffff;
}

#show-btn:hover {
  color: black;
  border-color: rgba(165, 165, 141, 0.2);
  background-color: rgba(221, 190, 169, 0.5);
}
#show-btn:active {
  color: #bbbbbb;
  border-color: #bbbbbb;
}

.bookings-div {
  padding-top: 30px;
}
.bookings-user {
  padding-top: 30px;
}

.bookings-div {
  border-top: 1px solid black;
  border-bottom: 1px solid black;

}
